/*BLOCK*/
div.block-height-one-unit {
	height: 56px;
	width: 100%;
}

/*BLOG-ITEMS-LIST*/
/**,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.items-list {
	position: relative;
	max-width: 800px;
}

.items-list ul {
	list-style: none;
	padding: 0;
	width: 100%; 
}

.items-list li {
	margin: 0 auto;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 4px;
	background-color: #EAEAF0;
}

.items-list .blog-item-time {
	float: right;
	font-size: 90%;
}

.items-list label {
	display: inline-block;
	width: 100%;
	position: relative;
	font-size: 1.2em;
	padding: 15px 10px 15px 80px;
	vertical-align: top;
	cursor: pointer;
}

.items-list label span {
	vertical-align: middle;
	display: inline-block;
}
/*name of article*/
.items-list label span:first-child {
	width: 45%;
	color: rgba(97,107,107,0.7);
}
/*description of article*/
.items-list label span:nth-child(2),
.items-list label a {
	width: 40%;
	color: #31d2d4;
	font-size: 80%;
}
/*time of article*/
.items-list label span:last-child {
	width: 15%;
	text-align: right;
}

.items-list input[type="checkbox"],
.items-list label::before,
.items-list input[type="checkbox"]:checked + label::after {
	width: 26px;
	height: 26px;
	top: 50%;
	left: 20px;
	margin-top: -13px;
	position: absolute;
	cursor: pointer;
}

.items-list input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.items-list li span.blog-num {
	position: absolute;
  	left: 27px;
  	top: 12px;
  	font-size: 25px;
  	color: #3594cb;
}

.items-list .blog-list li {
	border-bottom: 2px black solid;
}

.items-list input[type="checkbox"]:checked + label::after {
	content: '\2713';
	text-align: center;
	line-height: 28px;
	color: #31d2d4;
}

/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}