
/* Main Style */

body {
	overflow: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.option:hover {
	cursor: pointer;
}

/************************** Univeral style */
.mgbm20p {
	margin-bottom: 20px;
}

/* bagdes */
.bs-badge.badge-absolute {
	position: absolute;
	top: -10px;
	right: -10px;
}

/************************** Blog Items */

ul.blog-item-list {
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.blog-item-list li.blog-item {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 3px;
	width: 100%;
	font-size: 14px;
	background: #EFF5FA;
	margin-bottom: 4px;
	border-left: 3px solid;
	border-radius: 3px; 
	padding: 10px 0 10px 0;
}

ul.blog-item-list li.blog-item span.blog-item-index {
	margin: 0 20px 0 20px;
	text-align: left;
}

ul.blog-item-list li.blog-item span.blog-item-label {
	width: 30px;
	text-align: left;
	margin-right: 10px;
}

span.blog-item-timelabel {
	font-size: 100%;
	position: absolute;
	right: 10px;
	top: 8px;
	width: 87px;
}

span.blog-item-tips {
	font-size: 85%;
	position: absolute;
	top: 10px;
}

.blog-item-list .blog-item {
	position: relative;
}

.list-group-separator a.list-group-item:after {
	visibility: hidden;
}

.blog-page .example-box-wrapper .tab-content {
	border: 1px solid;
	border-radius: 3px;
	border-color: #dfe8f1;
}

.blog-page .blog-list-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.blog-list-content {
	border: 1px solid;
	border-color: #dfe8f1;
}


/************************** loading spinner of home page */

.spinner {
	margin:0;
	width:70px;
	height:18px;
	margin:-35px 0 0 -9px;	/* ??*/
	position:absolute;		
	top:50%;
	left:50%;
	text-align:center;		/* ?? Is this the way to set middle position */
}

.spinner > div {
	width:18px;
	height:18px;
	background-color:#333;
	border-radius:100%;
	display:inline-block;
	-webkit-animation:bouncedelay 1.4s infinite ease-in-out;	/*bouncedelay is the name of Animation*/   /*??? ease-in-out*/
	animation:bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;			/*?? animation-fill-mode*/
}

.spinner .bounce1 {
	-webkit-animation-delay:-.32s;
	animation-delay:-.32s;
		/*?? animation-delay*/
}

.spinner .bounce2 {
	-webkit-animation-delay:-.16s;
	animation-delay:-.16s
}

@-webkit-keyframes bouncedelay {
	0%,80%,100% { -webkit-transform:scale(0.0) }	/*-webkit-transform can be a state of animation, that mean transform defines a state*/
	40% { -webkit-transform:scale(1.0) }
}

@keyframes bouncedelay {
	0%,80%,100% { 
		transform:scale(0.0);
		-webkit-transform:scale(0.0);
	}
	40% { 
		transform:scale(1.0);
		-webkit-transform:scale(1.0);
	}
}

/* Content Page */

.pt-main {
	position: relative;
}

.pt-page {						/* define the page contains the content */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: scroll;
	padding: 20px;
	-webkit-backface-visibility: hidden;		/* ?? -webkit-backface-visibility */
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;		/*?? -webkit-transform-style*/
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;				/* the transformed element preserve the 3D position */
}

.pt-page-current {			/* , in css means share style */
	visibility: visible;
	z-index: 1;
}

/*@media screen and (max-height: 38em) { 		//?? @media
	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}*/

/*.pt-page.page-photo > .header {		// > 
	height: 100px;
}*/


/* Page Transition Style */

.pt-page-scaleDown {
	-webkit-animation: scaleDown .7s ease both;
	animation: scaleDown .7s ease both;
}

.pt-page-scaleUpDown {
	-webkit-animation: scaleUpDown .5s ease both;
	animation: scaleUpDown .5s ease both;
}

@-webkit-keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

.pt-page-delay300 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
