.blog-list-aside-menu-container {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 300px;
	border-right: dashed 1px #e2e2e2;
	padding: 20px;
	z-index: 1;
	overflow: auto;
}

.blog-list-aside-menu {
	margin: 0px;
	border: solid 1px #e2e2e2;
	padding-left: 0px;
}

.blog-list-aside-menu li{
	border-bottom: dashed 1px #e2e2e2;
	list-style:none;
	padding: 10px;
}

.blog-list-aside-menu li:last-child {
	border: none;
}

.blog-list-aside-menu li:hover {
	background-color: #f0f0f0;
	cursor: pointer;
} 

.blog-list-container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	padding-left: 300px;
	z-index: 0;
}

.blog-list-container .blog-list-content {
	height: 100%;
	width: 100%;
	padding: 70px;
}

/*blog list*/
.blog-list-content ul {
	border: solid 1px #e2e2e2;
	margin-right: 200px;
}

.blog-list-content ul li {
	list-style:none;
	margin-bottom: 20px;
	border-bottom: dashed 1px #e2e2e2;
}

.blog-list-content ul li:last-child {
	border:none;
}

.blog-list-item-header {
	margin-bottom: 10px;
}

.blog-list-item-header .title {
	display: inline;
}

.blog-list-item-header .time {
	float: right;
}

.tags-container {
	padding-bottom: 8px;
	padding-top: 8px;
}

.tags-container span {
	padding: 3px;
	color: #31708f;
	border-radius: 4px;
	margin-right: 5px;
}

.tags-container .prototype {
	background-color: #d9edf7;
}

.tags-container .oo {
	background-color: #f2dede;
}

.blog-list-item-description {
	padding-top: 10px;
}






















