*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	-webkit-font-smoothing: antialiased;
	margin: 0px;
}

body, 
html,
.body-container, 
.content-wrap {
	width: 100%;
	height: 100%;
}

#pagewrap {
	height: 100%;
}

.content-wrap {
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.content {
	/*position: relative;*/
	background: #fff;
	height: 100%;
  	overflow-x: hidden;
}

/* Overlay */
.content::before {
	/*position: absolute;*/
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
}

div.block-height-one-unit {
	height: 56px;
	width: 100%;
}

/*********************************** Menu Button ***********************************/
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

body.show-menu div.content-wrap {
	disabled: disable;
}

/*** Home page ***/
.homepage {
	background: url(../img/homepage-background.png) repeat top left !important;
	z-index: 2;
  	width: 100%;
  	height: 100%;
  	margin: 0;
}

.homepage .home-page-header-container {
	position: relative;
	height: 225px;
	width: 100%;
}

.homepage .home-page-top-cover {
	position: absolute;
	height: 225px;
	width: 100%;
}

.homepage .home-page-top-cover > img {
	width: 100%;
	height: 225px;
	z-index: 0;
}

.homepage .home-page-profile-container {
	font-family: 'Lato', Arial, sans-serif;
	margin-top: -80px;
	text-align: center;
}

.homepage .home-page-profile-container > .home-page-profile {
	position: relative;
	width: 160px;
	height: 160px;
	border-style: solid;
	border-width: 7px;
	/*border-color: transparent;*/
	border-color: white;
	border-radius: 50%;
	z-index: 2;
}

.homepage .home-page-profile-container .home-page-name {
	font-size: 30px;
	font-weight: 500;
	color: #666;
	margin: 6px 0;
	line-height: 1.2em;
}

.homepage .home-page-profile-container .home-page-job {
	font-size: 19px;
	font-weight: 500;
	margin: 6px 0;
	line-height: 1.5em;
	color: #666;
}

.homepage .home-page-quotes-container {
	position: relative;
	width: 700px;
	height: 230px;
	margin: 30px auto 0 auto;
	padding: 15px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,.1);*/
	/*background-color: white;*/
}

.homepage .home-page-quotes-container .words {
	height: 200px;
	width: 470px;
	padding: 10px;
}

.homepage .home-page-quotes-container .words .eng{
	font-family: "Arizonia-Regular";
	font-size: 33px;
}

.homepage .home-page-quotes-container img {
	position: absolute;
	right: 15px;
	top: 15px;
	height: 200px;
	width: 200px;
	border-top-width: 1px;
	border-style: dashed;
	border-width: 0;
	border-color: #e2e2e2;
}

.homepage .sub-block-container {
	position: relative;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.homepage .sub-block-container section {
	background-color: white;
	padding: 24px;
	width: 292px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
  	position: absolute;
  	top: 30px;
	margin-bottom: 50px;
}

.homepage .sub-block-container section p {
	font-size: 1.5em;
	line-height: 1.5;
}

.homepage .sub-block-container section.tech-blog {
	left: 15px;
}

.homepage .sub-block-container section.photo {
	left: 337px;
}

.homepage .sub-block-container section.travel {
	left: 659px;
}

.homepage .sub-block-container section.other {
	left: 981px;
}

.homepage .sub-block-container section header {
	text-align: center;
}

.homepage .sub-block-container section header > div {
	font-size: 20px;
	text-align: left;
	padding-bottom: 10px;
	border-bottom: dashed 1px #e2e2e2;
}

code {
	tab-size:4;
}

.homepage .sub-block-container section .content {
	padding-top: 10px;
	font: inherit;
	color: #666;
	font-size: 10px;
	margin-top: 10px;
}

.homepage .sub-block-container section .content .title {
	padding-top: 10px;
	font: inherit;
	text-align: left;
	color: #e64a86;
	font-size: 17px;
}
.homepage .sub-block-container section .content .img-container {
	margin-bottom: 10px;
}
.homepage .sub-block-container section .content .img-container .description {
	font: inherit;
	text-align: left;
	color: #6a9aca;
	font-size: 14px;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: dashed 1px #e2e2e2;
}
/*正方形图片*/
.homepage .sub-block-container section .content .img-container img.square{
	width: 244px;
	height: 244px;
}
/*横向图片*/
.homepage .sub-block-container section .content .img-container img.horizontal{
	width: 244px;
	height: 163px;
}
/*纵向图片*/
.homepage .sub-block-container section .content .img-container img.vertical{
	width: 244px;
	height: 325px;
}

.homepage .sub-block-container section .time {
	font: inherit;
	text-align: left;
	color: #6a9aca;
	font-size: 14px;
}

.homepage .sub-block-container section.tech-blog header {
	color: #6a9aca;
}

.homepage .sub-block-container section.photo header {
	color: #6a9aca;
}

.homepage .sub-block-container section.travel header {
	color: #fe8b06;
}

.homepage .sub-block-container section.other header {
	color: #6a9aca;
}

.block-icon {
	background-size: 96px 120px;
	background-image: url(account_icons_24@2x.png);
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: absolute;
	top: 24px;
	right: 24px;
}

.block-icon.instagram {
	background-position: -48px 0;
}

/*LANGUAGE ICONS*/
.language-icon {
	background-size: 96px 120px;
	background-image: url(language-icons.png);
	display: inline-block;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: absolute;
	top: 24px;
	right: 24px;
}

.language-icon.js {
	background-position: 0 0;
}










