
.pt-page {						/* define the page contains the content */
	width: 100%;		 /* absolute consider margin */
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	/*background-image: url(../img/bg-pattern.png);*/
	background-repeat: repeat;
	overflow-y: auto;   /*if not add this attr, background-repeat will only work for current page*/ 
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;			/* the transformed element preserve the 3D position */
}

/* , means work together ?? */
.pt-page-current {
	display: block;
	z-index: 1;
}

@media screen and (max-width: 47.4375em) {
	.pt-page h1 {
		font-size: 3em;
	}

	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}

@media screen and (max-height: 45.9em) {
	.pt-triggers .dl-menuwrapper li a {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
		line-height: 24px;
	}
}

@media screen and (max-height: 38em) { 
	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}
