@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container, .header {
	height: 100%;
}

.blog-body {
	font-family: 'Raleway', Arial, sans-serif;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

/* Header */
.header {
	position: relative;
	height: 300px;
	width: 100%;
}

.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 25%;
}

.title h1 {
	padding: 0 0 0.2em;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
}

.title p {
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
}

.title p.subline {
	font-size: 1.75em;
}

/* Conent */
.content {
	margin: 0 auto;
	padding: 0 0 3em;
}

.content > div:not(.title) p:first-child {
	font-size: 1.35em;
}

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em;
	font-family: 'Lora', serif;
	line-height: 1.4;
}

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
}