@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container, .header {
	height: 100%;
}

.blog-body {
	font-family: 'Raleway', Arial, sans-serif;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20%;
  	margin-right: 20%;
  	width: 60%;
  	position: absolute;
}

/* *************************** Header *************************** */
.header {
	position: relative;
	height: 200px;
	width: 100%;
	margin-top: 50px;
}

.title {
	z-index: 1000;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 25%;
}

.title h1 {
	padding: 0 0 0.2em;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
	color: #69606b;
	line-height: 1;
}

/*.title h1,				****
.title p.subline {
	line-height: 1;
}*/

.title p.subline {
	font-size: 1.75em;
	line-height: 1;
}

.title p {
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
	color: #69606b;
}

/* ***************************Conent *************************** */
.article-content {
	margin-top: 50px;
	margin-bottom: 100px; 
	padding: 0 0 3em;
}

.article-content a{
	color: #cf4a5c;
}

/*.article-content > div:not(.title) p:first-child {			******
	font-size: 1.35em;
	color: #69606b;
}
*/
.article-content h3 {
	font-size: 1.4em;
	color: #8C6196;
}

.article-content h4 {
	font-size: 1.3em;
  	color: #69606b;
}

.article-content p {
	font-size: 1.15em;
	color: #69606b;
	line-height: 1.7;
}
.article-content ul {
	font-size: 1.15em;
	color: #69606b;
	line-height: 1.7;
}
.article-content ol {
	font-size: 1.15em;
	color: #69606b;
	line-height: 1.7;
}

.article-content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em;
	font-family: 'Lora', serif;
	line-height: 1.4;
	color: #69606b;	
}

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
	color: #69606b;	
}

.article-content .key-word {
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding-left: 6px;
	padding-right: 6px;
	background: #e9e9e9;
	color: #5858FA;
}

.article-content a.link {
	text-decoration: none;
}

.content-img-container {
	text-align: center;
}

.content-img-container img {
	border: 5px white solid;
	border-radius: 3px;
	max-width: 835px;
}

.warning {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	border: 5px rgb(223, 82, 82) solid;
	background-color: #EC817D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.warning>span{
	font-style: italic;
	color: white;
	font-weight: 700;
}
